{% extends 'main.html' %}
{% block style %}{% endblock %}

{% block content %}
<div class="row">
  <h2 style="text-align:center; margin-top:5px;"><b>Vai tiešām vēlaties atcelt pierakstu uz:</b></h2>
</div>
<div class="row">
 <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-offset-1">
  <h4><span class="glyphicon glyphicon-check" aria-hidden="true" style="color:#444;">&nbsp;</span> {{ data.nodarbiba.nodarbiba }} - {{ data.nodarbiba.sakums|date:"d/m/Y H:i" }}</h4>
 </div>
 <div class="form-group" style="margin-top: 10px;"><center>
  <a href="/atcelts/{{ id }}/"><input class="btn btn-danger" value="Jā"></a>
  <a href="/"><input class="btn btn-default" value="Nē"></a></center>
 </div>
</div>
{% endblock %}

