{% extends 'main.html' %}
{% load staticfiles %}
{% block style %}{% endblock %}

{% block content %}
<div class="row">
  <h2 style="text-align:center; margin-top:5px;">Pieraksts ir sekmīgi izdevies</h2>
</div>
<div class="container">
<!-- <h3>Nodarbība:<small> {{ pieraksts.nodarbiba }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ pieraksts.nodarbiba.sakums|date:"d/m/Y H:i" }}</small></h3> -->
 <h4>Vārds Uzvārds:<small> {{ vards }}</small></h4>
 <h4>E-pasts:<small> {{ epasts }}</small></h4>
 <h4>Tālrunis:<small> {{ telefons }}</small></h4>
</div>
{% endblock %}
