{% extends 'main.html' %}
{% load staticfiles %}
{% block style %}{% endblock %}

{% block content %}
<div class="row">
  <h2 style="text-align:center; margin-top:5px;"><b>Pieraksts izdevies sekmīgi</b></h2>
</div>
<div class="row">
 <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-3 col-xs-offset-3">
  <h4><span class="glyphicon glyphicon-user" aria-hidden="true" style="color:#444;">&nbsp;</span> {{ vards }}</h4>
  <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="color:#444;">&nbsp;</span> {{ epasts }}</h4>
  <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true" style="color:#444;">&nbsp;</span> {% if telefons == '' %}Nav norādīts{% else %}{{ telefons }}{% endif %}</h4>
 </div>
  <h5><center>Jums ir nosūtīts apstiprinājuma e-pasts ar nodarbības atcelšanas kodu. </center></h5>
</div>
{% endblock %}
