{% extends 'admin.html' %}{% load staticfiles%}

{% block javascript %}
<script type="text/javascript" src="{% static 'bootstrap/js/datepicker.js' %}"></script>
<link rel="stylesheet" href="{% static 'bootstrap/css/datepicker.css' %}"/>
{% endblock %}

{% block content %}
<div class="modal fade" id="Pievienots" tabindex="-1" role="dialog" aria-hidden="true"><div class="modal-dialog"><div class="modal-content">
<div class="modal-header">
 <h3 style="margin-top:5px; margin-bottom:5px;"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;Nodarbība pievienota</h3>
</div>
<div class="modal-body">
{% if one %}
<h4><strong>Nodarbiba</strong> - {{ nodarbiba.nodarbiba }}</h4>
<h4><strong>Notiks vienu reizi</strong> - {{ nodarbiba.sakums|date:"d/m/Y H:i" }}</h4>
<h4><strong>Treneris</strong> - {{ nodarbiba.treneris }}</h4>
<h4><strong>Zāle</strong> - {{ nodarbiba.telpa }}</h4>
<h4><strong>Nodarbības ilgums</strong> - {{ nodarbiba.ilgums }}</h4>
<h4><strong>Vietus skaits</strong> - {{ nodarbiba.vietas }}</h4>
{% else %}
<h4><strong>Nodarbiba</strong> - {{ nodarbiba.nodarbiba }}</h4>
<h4><strong>Notiks katru nedēļu</strong> - {{ nodarbiba.get_diena_display }} {{ nodarbiba.laiks|date:"H:i" }}</h4>
<h4><strong>Nodarbību sākums</strong> - {{ nodarbiba.start_date|date:"d/m/Y" }}</h4>
{% if nodarbiba.end_date %}<h4><strong>Nodarbība notiks līdz</strong> - {{ nodarbiba.end_date|date:"d/m/Y" }}</h4>{% endif %}
<h4><strong>Treneris</strong> - {{ nodarbiba.treneris }}</h4>
<h4><strong>Zāle</strong> - {{ nodarbiba.telpa }}</h4>
<h4><strong>Nodarbības ilgums</strong> - {{ nodarbiba.ilgums }}</h4>
<h4><strong>Vietus skaits</strong> - {{ nodarbiba.vietas }}</h4>
{% endif %}
</div>
<div class="modal-footer">
 <button type="button" class="btn btn-default" data-dismiss="modal">Aizvērt</button>
</div></div></div></div>

<script>
window.onload = success_modal;
function success_modal() {
 var mod = true; if ( mod == {{ success }} ) { $("#Pievienots").modal('show'); }}

function showMe (box) {
 var chboxs = document.getElementsByName("chk");
 var vis = "block";
 for(var i=0;i<chboxs.length;i++) { 
   if(chboxs[i].checked){ vis = "none"; break; }
 }
 document.getElementById(box).style.display = vis;
 if (vis == "block") { document.getElementById('id_date').innerHTML = "Sākuma datums:"; }
 if (vis == "none") { document.getElementById('id_date').innerHTML = "Nodarbības datums:"; }
}
</script>

<div class="alert alert-danger">
  <center><strong>!!! Nodarbību pievienošana Grafikam !!!</strong></center>
</div>

<div class="col-md-6 col-md-offset-3">
<form id="add_form" action="/reception/add/" method="post">{% csrf_token %}

{% if error %}
 <div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><strong> &nbsp;&nbsp;&nbsp;{{ error }}</strong>
 </div>
{% endif %}

<div class="bootstrap-iso">
 <div class="fieldWrapper">
  <label style="margin-left:10px;">{{ form.chk }} Vienu reizi</label>
 </div>
 <div class="form-group">
  <label id="id_date" for="{{ form.date.id_for_label }}">Sākuma datums:</label>
  {{ form.date }}
  {{ form.date.errors }}
 </div>
</div>


<div class="bootstrap-iso" id="diena">
<hr style="margin: 0px 0px 10px 0px; border-top: solid red 1px;">
 <div class="form-group">
  <label for="{{ form.end_date.id_for_label }}">Beigu datums:</label>
  {{ form.end_date }}
  {{ form.end_date.errors }}
 </div>
 <div class="form-group">
  <label for="{{ form.diena.id_for_label }}">Diena:</label>
  {{ form.diena }}{{ form.diena.errors }}
 </div>
<hr style="margin: 0px 0px 10px 0px; border-top: solid red 1px;">
</div>

<script>
$(document).ready(function(){ var date_input=$('input[name="date"]');
 var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
 var options={ format: 'dd/mm/yyyy', container: container, todayHighlight: true, autoclose: true, weekStart: 1, };
 date_input.datepicker(options); })

$(document).ready(function(){ var date_input=$('input[name="end_date"]');
 var container=$('.form-group form').length>0 ? $('.bootstrap-iso form').parent() : "body";
 var options={ format: 'dd/mm/yyyy', container: container, todayHighlight: true, autoclose: true, weekStart: 1, };
 date_input.datepicker(options); })

var countdown;
function submit_changes() {
 clearInterval(countdown);
 document.querySelector('#yes').value = "Nodarbība tiek pievienota";
 document.getElementById("add_form").submit();
 $("#yes").attr('disabled','disabled');
}
function apply() {
  $("#yes").show(); $("#ok").hide(); var slidetime = 14,
  display = document.querySelector('#yes'); startTimer(slidetime, display);
}
function startTimer(duration, display) {
  var timer = duration, seconds = 15; countdown = setInterval( function () {
    seconds = parseInt(timer % 60, 10); // seconds = seconds < 10 ? "0" + seconds : seconds;
    display.value = "Apstiprināt (" + seconds + ") ?"; --timer;
    if (seconds < 1) { $("#yes").hide(); $("#ok").show(); clearInterval(countdown); }
  }, 1000);}
</script>



<table class="table table-condensed">
 <tr id="diena_form">
 <tr>
  <td style="border-top: none;"><div class="form-group"><label for="{{ form.laiks.id_for_label }}">Sākums:</label></div></td>
  <td style="border-top: none;">{{ form.laiks }}{{ form.laiks.errors }}</td>
 </tr>
 <tr>
  <td><div class="form-group"><label for="{{ form.ilgums.id_for_label }}">Nodarbības ilgums:</label></div></td>
  <td>{{ form.ilgums }}{{ form.ilgums.errors }}</td>
 </tr>
 <tr>
  <td><div class="form-group"><label for="{{ form.nodarbiba.id_for_label }}">Nodarbība:</label></div></td>
  <td>{{ form.nodarbiba }}{{ form.nodarbiba.errors }}</td>
 </tr>
 <tr>
  <td><div class="form-group"><label for="{{ form.treneris.id_for_label }}">Treneris:</label></div></td>
  <td>{{ form.treneris }}{{ form.treneris.errors }}</td>
 </tr>
 <tr>
  <td><div class="form-group"><label for="{{ form.telpa.id_for_label }}">Telpa:</label></div></td>
  <td>{{ form.telpa }}{{ form.telpa.errors }}</td>
 </tr>
 <tr>
  <td><div class="form-group"><label for="{{ form.vietas.id_for_label }}">Vietu skaits:</label></div></td>
  <td>{{ form.vietas }}{{ form.vietas.errors }}</td>
 </tr>
</table>

<br>

 <div class="form-group text-right">
  <input class="btn btn-danger pull-left" type="submit" value="Apstiprināt (15) ?" style="display: none;" id="yes" onclick="submit_changes();">
  <button type="button" class="btn btn-success" onclick="apply();" id="ok">Pievienot nodarbību grafikam</button>
 </div>

</div></form>
{% endblock %}
