{% extends 'admin.html' %}{% load staticfiles%}

{% block javascript %}
<script type="text/javascript" src="{% static 'bootstrap/js/datepicker.js' %}"></script>
<link rel="stylesheet" href="{% static 'bootstrap/css/datepicker.css' %}"/>
{% endblock %}

{% block content %}
<div class="modal fade" id="Pievienots" tabindex="-1" role="dialog" aria-hidden="true"><div class="modal-dialog"><div class="modal-content">
<div class="modal-header">
 <h3 style="margin-top:5px; margin-bottom:5px;"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;Nodarbība pievienota</h3>
</div>
<div class="modal-body">
{% if one %}
<h4><strong>Nodarbiba</strong> - {{ nodarbiba.nodarbiba }}</h4>
<h4><strong>Notiks vienu reizi</strong> - {{ nodarbiba.sakums|date:"d/m/Y H:i" }}</h4>
<h4><strong>Treneris</strong> - {{ nodarbiba.treneris }}</h4>
<h4><strong>Zāle</strong> - {{ nodarbiba.telpa }}</h4>
<h4><strong>Nodarbības ilgums</strong> - {{ nodarbiba.ilgums }}</h4>
<h4><strong>Vietus skaits</strong> - {{ nodarbiba.vietas }}</h4>
{% else %}
<h4><strong>Nodarbiba</strong> - {{ nodarbiba.nodarbiba }}</h4>
<h4><strong>Notiks katru nedēļu</strong> - {{ nodarbiba.get_diena_display }} {{ nodarbiba.laiks|date:"H:i" }}</h4>
<h4><strong>Nodarbību sākums</strong> - {{ nodarbiba.start_date|date:"d/m/Y" }}</h4>
{% if nodarbiba.end_date %}<h4><strong>Nodarbība notiks līdz</strong> - {{ nodarbiba.end_date|date:"d/m/Y" }}</h4>{% endif %}
<h4><strong>Treneris</strong> - {{ nodarbiba.treneris }}</h4>
<h4><strong>Zāle</strong> - {{ nodarbiba.get_telpa_display }}</h4>
<h4><strong>Nodarbības ilgums</strong> - {{ nodarbiba.ilgums }}</h4>
<h4><strong>Vietus skaits</strong> - {{ nodarbiba.vietas }}</h4>
{% endif %}
</div>
<div class="modal-footer">
 <button type="button" class="btn btn-default" data-dismiss="modal">Aizvērt</button>
</div></div></div></div>

<script>
window.onload = success_modal;
function success_modal() {
 var mod = true; if ( mod == {{ success }} ) { $("#Pievienots").modal('show'); }}

function showMe (box) {
 var chboxs = document.getElementsByName("chk");
 var vis = "block";
 for(var i=0;i<chboxs.length;i++) { if(chboxs[i].checked){ vis = "none"; break; }}
    document.getElementById(box).style.display = vis; }
</script>

<div class="col-md-6 col-md-offset-3">
<form action="/reception/add/" method="post">{% csrf_token %}

<div class="alert alert-danger">
  <center><strong>!!! Nodarbību pievienošana Grafikam !!!</strong></center>
</div>

{% if error %}
 <div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><strong> &nbsp;&nbsp;&nbsp;{{ error }}</strong>
 </div>
{% endif %}

<div class="bootstrap-iso"><div class="fieldWrapper">
 <label style="margin-left:10px;">{{ form.chk }} Vienu reizi</label>
</div>

<div class="form-group">
 <label for="{{ form.date.id_for_label }}">Sākuma datums:</label>
 {{ form.date }}
 {{ form.date.errors }}
</div>
</div>

<div class="bootstrap-iso" id="diena">
 <div class="form-group">
  <label for="{{ form.end_date.id_for_label }}">Beigu datums:</label>
  {{ form.end_date }}
  {{ form.end_date.errors }}
 </div>

 <div class="fieldWrapper">
  <label for="{{ form.diena.id_for_label }}">Diena:</label>
  {{ form.diena }}
  {{ form.diena.errors }}
 </div>
</div>

<script>
$(document).ready(function(){ var date_input=$('input[name="date"]');
 var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
 var options={ format: 'dd/mm/yyyy', container: container, todayHighlight: true, autoclose: true, weekStart: 1, };
 date_input.datepicker(options); })

$(document).ready(function(){ var date_input=$('input[name="end_date"]');
 var container=$('.form-group form').length>0 ? $('.bootstrap-iso form').parent() : "body";
 var options={ format: 'dd/mm/yyyy', container: container, todayHighlight: true, autoclose: true, weekStart: 1, };
 date_input.datepicker(options); })
</script>

 <div class="fieldWrapper">
  <label for="{{ form.laiks.id_for_label }}">Sākums:</label>
  {{ form.laiks }}
  {{ form.laiks.errors }}
 </div>
 <div class="fieldWrapper">
  <label for="{{ form.ilgums.id_for_label }}">Nodarbības ilgums:</label>
  {{ form.ilgums }}
  {{ form.ilgums.errors }}
 </div>

 <div class="fieldWrapper">
  <label for="{{ form.nodarbiba.id_for_label }}">Nodarbība:</label>
  {{ form.nodarbiba }}
  {{ form.nodarbiba.errors }}
 </div>
 <div class="fieldWrapper">
  <label for="{{ form.treneris.id_for_label }}">Treneris:</label>
  {{ form.treneris }}
  {{ form.treneris.errors }}
 </div>

 <div class="fieldWrapper">
  <label for="{{ form.telpa.id_for_label }}">Telpa:</label>
  {{ form.telpa }}
  {{ form.telpa.errors }}
 </div>
 <div class="fieldWrapper">
  <label for="{{ form.vietas.id_for_label }}">Vietu skaits:</label>
  {{ form.vietas }}
  {{ form.vietas.errors }}
 </div>
<br>

 <div class="form-group text-right">
  <input class="btn btn-success" type="submit" value="Pievienot nodarbību grafikam">
 </div>

</div></form>
{% endblock %}
