{% extends 'day_header.html' %}

{% block content %}
<div class="container-fluid">
<table class="table table-hover table-striped table-condensed">
<thead><tr>
 <th>Nodarbības laiks</th>
 <th>Nodarbība</th>
 <th>Treneris</th>
 <th>Zāle</th>
 <th>Vietas</th>
 <th>Pieraksts</th>
</tr></thead>

<tbody>
{% for d in data %}
<tr>
 <td><a href="/reception/nod/{{ d_id }}/{{ d.id }}/">{{ d.sakums|date:"H:i" }}</a></td>
 <td><a href="/reception/nod/{{ d_id }}/{{ d.id }}/">{{ d.nodarbiba }}</a></td>
 <td><a href="/reception/nod/{{ d_id }}/{{ d.id }}/">{{ d.treneris }}</a></td>
 <td><a href="/reception/nod/{{ d_id }}/{{ d.id }}/">{{ d.telpa }}</a></td>
 <td><a href="/reception/nod/{{ d_id }}/{{ d.id }}/">{{ d.vietas }}</a></td>
 <td><a href="/reception/cancel/{{ g_id }}/{{ d.id }}/"><button type="button" class="btn btn-default btn-xs">Pierakstīties</button></a></td>
</tr>
{% endfor %}
</tbody>
{% endblock %}
