{% extends 'admin.html' %}
{% block style %}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {  background-color: #9b9da0; }
{% endblock %}

{% block content %}

{% for d in data %}
<div class="modal fade" id="Cancel{{ d.id }}" tabindex="-1" role="dialog" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-header">
 <span class="glyphicon glyphicon-trash" aria-hidden="true" style="font-size:1.5em;"></span>
 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></div>
<div class="modal-body"><h4>{{ d.klients }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ d.klients.tel }}</h4><h4>{{ d.klients.e_pasts }}</h4></div>
<div class="modal-footer">
 <a href="/reception/cancel/{{ d_id }}/{{ g_id }}/{{ d.id }}/"><button type="button" class="btn btn-danger">Atcelt pierakstu</button></a>
 <button type="button" class="btn btn-default" data-dismiss="modal">Aizvērt</button>
</div></div></div></div>
{% endfor %}

<a href="/reception/day/{{ d_id }}/"><button type="button" class="btn btn" style="colour: black;"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Atpakaļ</button></a><br><br>

<div class="row"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
<a href="/reception/atteikumi/{{ d_id }}/{{ g_id }}/"><button type="button" class="btn btn-danger">Nodarbību atcēla</button></a><br></div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right;">
<a href="/reception/print_nod/{{ d_id }}/{{ g_id }}/" target="_blank"><button type="button" class="btn btn-warning" style="color: black;">
<span class="glyphicon glyphicon-print" aria-hidden="true"></span> DRUKĀT</button></a></div></div>

<div class="container">
<table class="table table-hover table-striped table-condensed">
<thead><tr>
 <th></th>
 <th>Pierakstīšanās laiks</th>
 <th>Vārds Uzvārds</th>
 <th>E-pasts</th>
 <th>Tālrunis</th>
<!-- <th style="text-align:center;">Ieradās</th> -->
</tr></thead>

<tbody>
{% for d in data %}
<tr>
 <td><button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#Cancel{{ d.id }}">Atcelt Pierakstu</button></td>
 <td>{{ d.pieraksta_laiks|date:"d/m/Y H:i" }}</td>
 <td>{{ d.klients }}</td>
 <td>{{ d.klients.e_pasts }}</td>
 <td>{{ d.klients.tel }}</td>
<!-- <td style="text-align:center;"><input type="checkbox" value="" class="disabled_checkbox"></td> -->
</tr>
{% endfor %}
</tbody>
</div>
{% endblock %}
