{% extends 'admin.html' %}
{% block style %}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {  background-color: #9b9da0; }
{% endblock %}

{% block content %}
<script>
// dienas
var days = ['Pirmdiena', 'Otrdiena', 'Trešdiena', 'Ceturtdiena', 'Piektdiena', 'Sestdiena', 'Svētdiena']
$(document).ready(function(){
  var day = document.getElementsByTagName("p");
  var count = 6;
  for (i = day.length-1; i > -1 ; i--) {
    day.item(i).innerHTML = days[count];
    count--;
  }
})
</script>

<div class="alert alert-danger">
  <center><strong>!!! Nodarbību atcelšana !!!</strong></center>
</div>

<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});

var countdown;
function submit_changes(mod) { clearInterval(countdown); document.querySelector("#yes"+mod).value = "Izmaiņas tiek apstiprinātas"; }
function cancel(mod) { $("#yes"+mod).hide(); $("#ok"+mod).show(); clearInterval(countdown); }
function apply(mod) {
  $("#yes"+mod).show(); $("#ok"+mod).hide(); var slidetime = 14,
  display = document.querySelector("#yes"+mod); startTimer(slidetime, display, mod);
}
function startTimer(duration, display, mod) {
  var timer = duration, seconds = 15; countdown = setInterval( function () {
    seconds = parseInt(timer % 60, 10); // seconds = seconds < 10 ? "0" + seconds : seconds;
    display.value = "Apstiprināt izmaiņas (" + seconds + ") ?"; --timer;
    if (seconds < 1) { $("#yes"+mod).hide(); $("#ok"+mod).show(); clearInterval(countdown); }
  }, 1000);}
</script>
{% if week %}
<div class="container">

<table class="table table-hover table-striped table-condensed">
<thead><tr>
 <th>Nedēļas sākums</th>
</tr></thead>
<tbody>
{% for w in week %}
<tr class="clickable-row" data-href="/reception/graf/{{ forloop.counter0 }}/"><td>{{ w|date:"d M" }}</td></tr>
{% endfor %}
</tbody>
</table>
</div>
{% else %}



{% for dat in data %}{% for d in dat %}
<div class="modal fade" id="Graf{{ d.id }}" tabindex="-1" role="dialog" aria-hidden="true"><div class="modal-dialog"><div class="modal-content">
<div class="modal-header">
 <h3 style="margin-top:5px; margin-bottom:5px;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;&nbsp;Atcelt nodarbību</h3>
</div>
<div class="modal-body"><h4>{{ d.nodarbiba }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ d.treneris }}</h4><h4>{{ d.sakums|date:"d/M/Y H:i" }}</h4></div>
<div class="modal-footer">
 <input class="btn btn-danger pull-left" type="submit" value="Apstiprināt izmaiņas (15) ?" style="display: none;" id="yes{{ d.id }}" onclick="submit_changes({{ d.id }});">
 <button type="button" class="btn btn-danger" onclick="apply({{ d.id }});" id="ok{{ d.id }}">Veikt izmaiņas</button>
 <button type="button" class="btn btn-default" data-dismiss="modal" onclick="cancel({{ d.id }});">Aizvērt</button>
</div></div></div></div>
{% endfor %}{% endfor %}

<a href="/reception/graf/"><button type="button" class="btn btn" style="colour: black;"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Atpakaļ pie nedēļu izvēles</button></a><br>

{% if pw_id or pw_id == 0 %}
<center><a href="/reception/graf/{{ pw_id }}/"><button type="button" class="btn btn" style="colour: black;">
<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Uz iepriekšējo nedēļu</button></a></center><br>
{% endif %}

<div class="container" style="margin-top: 5px;">
<table class="table table-hover table-striped table-condensed">
<thead><tr style="background: #aaa;">
 <th></th>
 <th>Datums</th>
 <th>Nodarbības laiks</th>
 <th>Nodarbība</th>
 <th>Treneris</th>
 <th>Zāle</th>
 <th>Vietas</th>
</tr></thead>
<tbody>
{% for dat in data %}
<tr style="background-color: rgba(210,130,240, 0.7) !important;"><td colspan="7"><center><b><p style="margin-bottom: 0px;"></p></b></center></td></tr>
{% for d in dat %}
<tr>
 <td><button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#Graf{{ d.id }}">Atcelt nodarbību</button></td>
 <td>{{ d.sakums|date:"d/m" }}</td>
 <td>{{ d.sakums|date:"H:i" }}</td>
 <td>{{ d.nodarbiba }}</td>
 <td>{{ d.treneris }}</td>
 <td>{{ d.telpa }}</td>
 <td>{{ d.vietas }}</td>
</tr>
{% endfor %}{% endfor %}
</tbody>
</table>
</div>

{% if nw_id %}
<center><a href="/reception/graf/{{ nw_id }}/"><button type="button" class="btn btn" style="colour: black;">
<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Uz nākamo nedēļu</button></a></center><br><br>
{% endif %}

{% endif %}

{% endblock %}
