{% extends 'admin.html' %}{% load staticfiles%}

{% block javascript %}
<script type="text/javascript" src="{% static 'bootstrap/js/datepicker.js' %}"></script>
<link rel="stylesheet" href="{% static 'bootstrap/css/datepicker.css' %}"/>
{% endblock %}

{% block history_header %}

<h2></h2>
<div class="alert alert-warning">
 <center><strong>!!! Vēsture !!!</strong></center>
</div>

<div class="bootstrap-iso" style="padding-top:20px;"><div class="container-fluid" style="margin-bottom:-20px;"><div class="row">
 <form action="/reception/hist/" method="post">{% csrf_token %}
  <div class="col-md-3 col-sm-4"><div class="form-group"><input class="form-control" id="date" name="date" placeholder="spied šeit lai izvēlētos datumu" type="text"/></div></div>
  <div class="col-md-1 col-sm-2"><div class="form-group"><button class="btn btn-primary " name="submit" type="submit">Pāriet uz datumu</button></div></div>
 </form>
</div></div></div>
<script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'dd/mm/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
        weekStart: 1,
      };
      date_input.datepicker(options);
    })
</script>

{% endblock %}
