{% extends 'admin.html' %}{% load staticfiles%}

{% block javascript %}
<script type="text/javascript" src="{% static 'bootstrap/js/datepicker.js' %}"></script>
<link rel="stylesheet" href="{% static 'bootstrap/css/datepicker.css' %}"/>
<script>
// datepicker
$(document).ready(function(){
  var day = document.getElementsByTagName("p");
  for (i = 0; i < day.length; i++) { 
    day.item(i).innerHTML = days[i];
  }
  var date_input=$('input[name="date{{ d.id }}"]'); //our date input has the name "date"
  var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
  var options={ format: 'dd/mm/yyyy', container: container, todayHighlight: true, autoclose: true, weekStart: 1, };
  date_input.datepicker(options);
})

// clickable row
var days = ['Pirmdiena', 'Otrdiena', 'Trešdiena', 'Ceturtdiena', 'Piektdiena', 'Sestdiena', 'Svētdiena']
jQuery(document).ready(function($) {

{% if error %}$("#Error").modal('show');{% endif %}

 $(".clickable-row").click(function(e) {
// open modal
  $("#Planotajs").modal('show');
// fill text
  document.getElementById('1').innerHTML = days[$(this).children('td')[1].innerHTML]; // 1 diena
  document.getElementById('2').innerHTML = "Nodarbības sākums: <b>" + $(this).children('td')[2].innerHTML + "</b>"; // 2 laiks
  document.getElementById('3').innerHTML = "Nodarbības ilgums: <b>" + $(this).children('td')[3].innerHTML + " minūtes</b>"; // 3 ilgums
  document.getElementById('4').innerHTML = "<b>" + $(this).children('td')[4].innerHTML + " - " + $(this).children('td')[5].innerHTML + "</b>";
  document.getElementById('6').innerHTML = "Zāle: <b>" + $(this).children('td')[6].innerHTML + "</b>"; // 6 telpa
  document.getElementById('7').innerHTML = "Vietu skaits: <b>" + $(this).children('td')[7].innerHTML + "</b>"; // 7 vietas
  document.getElementById('8').innerHTML = "Nodarbība notiek no <b>" + $(this).children('td')[8].innerHTML + "</b> līdz <b>" + $(this).children('td')[9].innerHTML + "</b> datumiem";
// fill Form
  document.getElementById('date').value=$(this).children('td')[8].innerHTML;
  document.getElementById('p_id').value=$(this).children('td')[0].innerHTML;
  document.getElementById('treneris').value=$(this).children('td')[6].innerHTML;
  document.getElementById('diena').value=$(this).children('td')[1].innerHTML;
 });
});

var countdown;
function submit_changes() { clearInterval(countdown); document.querySelector('#yes').value = "Izmaiņas tiek apstiprinātas"; }
function cancel() { $("#yes").hide(); $("#ok").show(); clearInterval(countdown); }
function apply() {
  $("#yes").show(); $("#ok").hide(); var slidetime = 14,
  display = document.querySelector('#yes'); startTimer(slidetime, display);
}
function startTimer(duration, display) {
  var timer = duration, seconds = 15; countdown = setInterval( function () {
    seconds = parseInt(timer % 60, 10); // seconds = seconds < 10 ? "0" + seconds : seconds;
    display.value = "Apstiprināt izmaiņas (" + seconds + ") ?"; --timer;
    if (seconds < 1) { $("#yes").hide(); $("#ok").show(); clearInterval(countdown); }
  }, 1000);}
</script>

{% endblock %}

{% block style %}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {  background-color: #9b9da0; }
{% endblock %}

{% block content %}

<div class="alert alert-danger">
  <center><strong>!!! Treneru aizvietošana sākot no konkrēta datuma !!!</strong></center>
</div>

<!-- DateError1 Modal START -->
<div class="modal fade" id="Error" tabindex="-1" role="dialog" aria-hidden="true"><div class="modal-dialog modal-lg"><div class="modal-content">
<div class="modal-header">
 <h3 style="margin-top:5px; margin-bottom:5px;"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;&nbsp;Kļūda!</h3>
</div>
<div class="modal-body">
{% if error_code_1 %}<h4>Izvēlētais Datums ir jau pagājis, Izmaiņas netika veiktas!</h4>{% endif %}
{% if error_code_2 %}<h4>Izvēlētais Datums ievadīts nekorektā formātā, Izmaiņas netika veiktas!</h4>{% endif %}
{% if error_code_3 %}<h4>Netika izvēlēts jaunais Treneris, Izmaiņas netika veiktas!</h4>{% endif %}
{% if error_code_4 %}<h4>Nodarbība jau ir beigusies, Izmaiņas netika veiktas!</h4>{% endif %}
{% if error_code_5 %}<h4>Nodarbība sākas pēc izvēlētā datuma, Izmaiņas netika veiktas!</h4>{% endif %}
</div>
<div class="modal-footer">
 <button type="button" class="btn btn-default" data-dismiss="modal">Aizvērt</button>
</form>
</div></div></div></div>
<!-- DateError1 Modal END -->


<!-- Planotajs Modal START -->
<div class="modal fade" id="Planotajs" tabindex="-1" role="dialog" aria-hidden="true"><div class="modal-dialog modal-lg"><div class="modal-content">
<div class="modal-header">
 <h3 style="margin-top:5px; margin-bottom:5px;"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp;&nbsp;Aizvietot Treneri sākot no konkrēta datuma</h3>
</div>
<div class="modal-body">
<form action="/reception/tren_aizv/" method="post">{% csrf_token %}
 <input type="hidden" id="p_id" name="p_id">
 <input type="hidden" id="diena" name="diena">
 <input type="hidden" id="laiks" name="laiks">
 <h2 id="4"></h2> <!-- nodarbiba treneris -->
 <div class="fieldWrapper">
  <label for="{{ form.treneris.id_for_label }}">Aizvietot ar treneri:</label>
  {{ form.treneris }}
  {{ form.treneris.errors }}
 </div>
 <h4 id="1"></h4> <!-- diena -->
 <h4 id="2"></h4> <!-- laiks -->
 <h4 id="3"></h4> <!-- ilgums -->
 <h4 id="6"></h4>
 <h4 id="7"></h4>
 <h4 id="8"></h4> <!-- no start_date līdz end_date -->

 <div class="form-group">
  <input class="form-control" id="date" name="date" placeholder="spied šeit lai izvēlētos datumu" type="text"/>
 </div>

</div>
<div class="modal-footer">
 <input class="btn btn-danger pull-left" type="submit" value="Apstiprināt izmaiņas (15) ?" style="display: none;" id="yes" onclick="submit_changes();">
 <button type="button" class="btn btn-danger" onclick="apply();" id="ok">Veikt izmaiņas</button>
 <button type="button" class="btn btn-default" data-dismiss="modal" onclick="cancel();">Aizvērt</button>
</form>
</div></div></div></div>
<!-- Planotajs Modal END -->


<div class="container">
<table class="table table-hover table-striped table-condensed">
<thead><tr style="background: #aaa;">
 <th>Sakums</th>
 <th>Ilgums</th>
 <th>Nodarbība</th>
 <th>Treneris</th>
 <th>Zāle</th>
 <th>Vietas</th>
 <th>Sākuma datums</th>
 <th>Beigu datums</th>
</tr></thead>
<tbody>

{% for dat in data %}
<tr style="background-color: rgba(210,130,240, 0.7) !important;"><td colspan="8"><center><b><p style="margin-bottom: 0px;"></p></b></center></td></tr>

{% for d in dat %}
{% if d.end_date < max_date %}<tr class="danger clickable-row">{% elif d.start_date > today %}<tr class="success clickable-row">{% else %}<tr class="clickable-row">{% endif %}
 <td style="display:none;">{{ d.id }}</td>
 <td style="display:none;">{{ d.diena }}</td>
 <td>{{ d.laiks|date:"H:i" }}</td>
 <td>{{ d.ilgums }}</td>
 <td>{{ d.nodarbiba }}</td>
 <td>{{ d.treneris }}</td>
 <td>{{ d.telpa }}</td>
 <td>{{ d.vietas }}</td>
 <td>{{ d.start_date|date:"d/m/Y" }}</td>
 <td>{% if d.end_date %}{{ d.end_date|date:"d/m/Y" }}{% else %}-{% endif %}</td>
</tr>
{% endfor %}{% endfor %}
</tbody>
{% endblock %}
