{% extends 'admin.html' %}
{% load staticfiles %}
{% block style %}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {  background-color: #9b9da0; }
{% endblock %}

{% block content %}
<script>
jQuery(document).ready(function($) {

{% if add_error %}$("#Treneris_create").modal('show');{% endif %}

  $(".clickable-row").click(function(e) {
// open modal
    $("#Treneris").modal('show');
// fill Form
    document.getElementById('t_id').value = $(this).children('td')[0].innerHTML;
    document.getElementById('t_slug').value = $(this).children('td')[1].innerHTML;
    var temp_v = $(this).children('td')[3].innerHTML;
    document.getElementById('t_vards').value = temp_v.substring(4, temp_v.length - 5);
    var temp_a = $(this).children('td')[4].innerHTML;
    document.getElementById('t_apraksts').value = temp_a.substring(4, temp_a.length - 5);

// fill text
    var img = $(this).children('td')[5].innerHTML;
    if (img != '') {
      document.getElementById('avatar').src = "http://pieraksts.vfabrika.lv/media/" + img;
    } else {
      document.getElementById('avatar').src = "http://pieraksts.vfabrika.lv{% static 'no-avatar.png' %}";
    }
    document.getElementById('vards').innerHTML = temp_v.substring(4, temp_v.length - 5);
    document.getElementById('apraksts').innerHTML = temp_a.substring(4, temp_a.length - 5);
  });
});

var countdown;
function submit_changes(mod) { clearInterval(countdown); document.querySelector("#yes"+mod).value = "Izmaiņas tiek apstiprinātas"; }
function cancel(mod) { $("#yes"+mod).hide(); $("#ok"+mod).show(); clearInterval(countdown); }
function apply(mod) {
  $("#yes"+mod).show(); $("#ok"+mod).hide(); var slidetime = 14,
  display = document.querySelector("#yes"+mod); startTimer(slidetime, display);
}
function startTimer(duration, display, mod) {
  var timer = duration, seconds = 15; countdown = setInterval( function () {
    seconds = parseInt(timer % 60, 10); // seconds = seconds < 10 ? "0" + seconds : seconds;
    display.value = "Apstiprināt izmaiņas (" + seconds + ") ?"; --timer;
    if (seconds < 1) { $("#yes"+mod).hide(); $("#ok"+mod).show(); clearInterval(countdown); }
  }, 1000);}
</script>

<!-- klienta edit modal START -->
<div class="modal fade" id="Treneris" tabindex="-1" role="dialog" aria-hidden="true"><div class="modal-dialog modal-lg"><div class="modal-content">
<div class="modal-header">
 <h3 style="margin-top:5px; margin-bottom:5px;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;Trenera kartiņa</h3>
</div>
<div class="modal-body">
 <form action="/reception/treneri/" method=POST>{% csrf_token %}
  <input type="hidden" id="t_id" name="t_id">
  <input type="hidden" id="t_slug" name="t_slug">
  <img id="avatar" style="width: 150px; height: 150px;">
  <table class="table table-condensed">
   <thead><tr><th style="width:30%;">Vārds</th><th>Apraksts</th></tr></thead>
   <tbody><tr>
    <td id="vards"></td>
    <td id="apraksts"></td>
   </tr><tr>
    <td><div class="form-group"><input type="text" id="t_vards" name="t_vards" class="form-control"></div></td>
    <td><div class="form-group"><input type="text" id="t_apraksts" name="t_apraksts" class="form-control"></div></td>
   </tr></tbody>
  </table>
</div>
<div class="modal-footer">
 <input class="btn btn-danger pull-left" type="submit" value="Apstiprināt izmaiņas (15) ?" style="display: none;" id="yes1" onclick="submit_changes(1);">
 <button type="button" class="btn btn-danger" onclick="apply(1);" id="ok1">Veikt izmaiņas</button>
 <button type="button" class="btn btn-default" data-dismiss="modal" onclick="cancel(1);">Aizvērt</button>
</form>
</div></div></div></div>
<!-- klienta edit modal END -->

<!-- NEW Treneris CREAT modal START -->
<div class="modal fade" id="Treneris_create" tabindex="-1" role="dialog" aria-hidden="true"><div class="modal-dialog modal-lg"><div class="modal-content">
<div class="modal-header">
 <h3 style="margin-top:5px; margin-bottom:5px;"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;Pievienot jaunu Treneri</h3>
</div>
<div class="modal-body">
 <form action="/reception/treneri/" method=POST enctype="multipart/form-data">{% csrf_token %}
  <table class="table table-condensed">
   <thead><tr><th style="width:30%;">Vārds</th><th>Apraksts</th></tr></thead>
   <tbody>
    <tr>
     <td>
      <label for="{{ form.vards.id_for_label }}">Nosaukums:</label>
      {{ form.vards }}
      {{ form.vards.errors }}
<!--      <br><label for="{{ form.izcelt.id_for_label }}">Izcelt ?</label> -->
      {{ form.avatar }}
     </td>
     <td>
      <label for="{{ form.apraksts.id_for_label }}">Trenera apraksts:</label>
      {{ form.apraksts.errors }}
      {{ form.apraksts }}
     </td>
    </tr>
   </tbody>
  </table>
</div>
<div class="modal-footer">
 <input class="btn btn-danger pull-left" type="submit" value="Apstiprināt izmaiņas (15) ?" style="display: none;" id="yes2" onclick="submit_changes(2);">
 <button type="button" class="btn btn-danger" onclick="apply(2);" id="ok2">Veikt izmaiņas</button>
 <button type="button" class="btn btn-default" data-dismiss="modal" onclick="cancel(2);">Aizvērt</button>
</form>
</div></div></div></div>
<!-- NEW Treneris CREATE modal END -->

<style>
.table.table-condensed tr th { border-bottom: 1px solid #f00; }
.table.table-condensed tr td { border-bottom: 1px solid #f00; }
</style>

<div class="container">
 <button type="button" class="btn btn-success pull-right" style="margin-bottom: 5px;" data-toggle="modal" data-target="#Treneris_create">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> &nbsp;Pievienot jaunu Treneri
 </button>
  <table class="table table-hover table-striped table-condensed">
    <thead>
      <tr style="background: #aaa;">
        <th style="vertical-align: top;">Bilde</th>
        <th style="vertical-align: top;">Vārds</th>
        <th style="vertical-align: top;">Apraksts</th>
      </tr>
    </thead>
    <tbody>
{% for t in treneri %}
      <tr class="clickable-row">
        <td style="display:none;">{{ t.id }}</>
        <td style="display:none;">{{ t.slug }}</td>
        <td>{% if t.avatar != "" %}
         <img src="http://pieraksts.vfabrika.lv/media/{{ t.avatar }}" style="width: 100px; height: 100px;">{% else %}
         <img src="{% static 'no-avatar.png' %}" style="width: 100px; height: 100px;">{% endif %}
        </td>
        <td><h3>{{ t.vards }}</h3></td>
        <td><h4>{{ t.apraksts }}</h4></td>
        <td style="display:none;">{{ t.avatar }}</td>
      </tr>
{% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
