{% load staticfiles %}{% load tz %}
<!DOCTYPE html>
<html lang="LV-LV">
<head>
<title>{{ title }}</title>
 <meta charset="UTF-8">
 <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
{% block javascript %}{% endblock %}
<style>
body { background: black !important; }
{% block style %}{% endblock %}</style>
</head>

<body>
<div class="container-fluid" style="margin-top:8px;">
<div class="col-lg-6 col-md-8 col-sm-8 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-2">

<!-- <div class="row" style="background-color:#ccc;"> -->
<div class="row" style="background-color:red;">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <center><img src='{% static 'vfabrika.png' %}' style="padding-top:5px;"><h3 style="margin-top:5px; margin-bottom:0px;"> "Veselības Fabrika" sporta klubs</center>
  <center><small>Latvija, Rīga, Brīvības gatve 214M, 3. kāpņu telpa, 2. stāvs, LV-1039</small></center></h3>
 </div>
</div>

<!-- <div class="row" style="background-color:#d8d8d8;"> -->
<div class="row" style="background-color:#888;">
 <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2" style="padding-left:5px; text-align:center;">
{% if back == False %}
  <a href="/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="font-size:2em; color:#444; margin-top:7px;"></span></a>
{% elif back == True %}
  <a href="/tren/{{ nodarb_slug }}/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="font-size:2em; color:#444; margin-top:7px;"></span></a>
{% endif %}
 </div>
 <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
  <h2 style="margin-top:5px; margin-bottom:5px;">{{ title }}
{% if time %}&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-calendar" aria-hidden="true" style="font-size:0.7em; color:#444; margin-top:6px;"></span> {{ laiks|date:"d/m/Y" }}
&nbsp;&nbsp;<span class="glyphicon glyphicon-time" aria-hidden="true" style="font-size:0.7em; color:#444; margin-top:6px;"></span> {{ laiks|date:"H:i" }}{% endif %}</h2>
 </div>
</div>

<div class="row" style="background-color:#aaa; padding-top:5px; padding-bottom:8px; min-height:200px !important;">
 {% block content %}{% endblock %}
</div>

</div>
</div>
</body>
</html>
