{% load staticfiles %}{% load tz %}
<!DOCTYPE html>
<html lang="LV-LV">
<head>
<title>{{ title }}</title>
 <meta charset="UTF-8">
 <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
{% block javascript %}{% endblock %}
<style>
{% block style %}{% endblock %}</style>
</head>

<body>
<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-xs-offset-0" style="border:1px solid black">

<h3><img src='{% static 'vfabrika.png' %}'> "Veselības Fabrika" sporta klubs<br>
<small>Latvija, Rīga, Brīvības gatve 214M, 3. kāpņu telpa, 2. stāvs, LV-1039</small></h3>

<h2>{{ title }}</h2>

{% block content %}{% endblock %}

</div>
</body>
</html>
