{% load staticfiles %}{% load tz %}
<!DOCTYPE html>
<html lang="LV-LV">
<head>
<title>Pieraksta sistēma | sagatavots izdrukai {{ title|date:"d/m/Y H:i" }}</title>
 <meta charset="UTF-8">
 <meta name="description" content="Fitnesa un sporta klubs Veselības Fabrika - sporta klubs jebkuram vecumam un dažādai fiziskajai sagatavotībai. Labākie Treneri, Nodarbības, Personāltreniņi.">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="shortcut icon" type="image/png" href="{% static 'vf-logo.png' %}"/>
 <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

{% block javascript %}{% endblock %}
<style>
{% block style %}{% endblock %}</style>
</head>

<body>
<div class="container-fluid" style="margin-top: 15px;"></div>

 {% block content %}{% endblock %}

</body>
</html>
